.card {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  border-radius: var(--radius-l);
  padding: var(--padding-s);
  border: 1px solid var(--border-divider);
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  justify-content: space-between;
  flex: 1;
  min-width: 0;
}

.link {
  align-self: flex-start;
  min-width: 0;
  max-width: 100%;
}

.name {
  font-weight: 600;
  font-size: var(--font-base);
  color: var(--text-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.followersCount {
  font-size: var(--font-m);
  color: var(--text-secondary);
}
