.card {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  border-radius: var(--radius-l);
  padding: var(--padding-s);
  border: 1px solid var(--border-divider);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.name {
  font-weight: 600;
  font-size: var(--font-base);
  color: var(--text-primary);
}

.status {
  color: var(--text-secondary);
  font-size: var(--font-m);
}

.actions {
  display: flex;
  gap: var(--gap-s);
  flex-shrink: 0;
  align-items: center;
}

.menu {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
