.container {
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding: var(--padding-xl);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-card);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-m);
}

.tabs {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}

.search {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.emptyFriends {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  text-align: center;
  padding: 70px 0;
}

.emptyTitle {
  margin: 0;
  font-weight: 600;
  color: var(--text-primary);
  font-size: var(--font-l);
}

.emptyText {
  margin: 0;
  color: var(--text-secondary);
  font-size: var(--font-m);
}
