.modal {
  width: min(1200px, 95vw) !important;
  overflow: hidden;
  padding: 0 !important;
}

.container {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(260px, 400px);
  outline: none;
  height: 92vh;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(240px, 45vh) 1fr;
    height: 92vh;
  }
}
