.message {
  display: flex;
  margin-bottom: var(--gap-m);
}

.message.own {
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message.own .content {
  align-items: flex-end;
}

.text {
  background: var(--bg-input);
  padding: var(--padding-s);
  border-radius: var(--radius-m);
  color: var(--text-primary);
  font-size: var(--font-m);
  max-width: 400px;
  word-break: break-word;
}

.time {
  font-size: var(--font-xs);
  color: var(--text-secondary);
}

.message.own .text {
  background: var(--primary);
  color: var(--text-on-primary);
}