.container {
  background: var(--bg-card);
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  padding: var(--padding-xl);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-card);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  height: 24px;
  width: 140px;
  border-radius: var(--radius-s);
  background: var(--bg-input);
}

.button {
  height: 40px;
  width: 130px;
  border-radius: var(--radius-m);
  background: var(--bg-input);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-s);
}

.photo {
  aspect-ratio: 1;
  max-width: 400px;
  max-height: 400px;
  border-radius: var(--radius-s);
  background: var(--bg-input);
}
