.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  min-width: 320px;
}

.title {
  margin: 0;
  color: var(--text-primary);
  font-size: var(--font-l);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.item {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--radius-m);
  background: var(--bg-nested);
  transition: background-color 0.3s ease;
  color: var(--icon-on-primary);

  &:hover {
    background: var(--bg-nested-hover);
  }
}

.unlocked .item {
  background: var(--bg-primary);
  color: var(--icon-on-primary);
}

.locked .item {
  background: var(--bg-input);
  color: var(--icon-on-primary);
}

.locked {
  opacity: 0.6;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-2xs);
}

.contentTitle {
  font-size: var(--font-m);
  font-weight: 600;
  color: var(--text-primary);
}

.text {
  font-size: var(--font-s);
  color: var(--text-secondary);
}

.bone {
  color: var(--icon-on-primary);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--padding-s);
  font-size: var(--font-m);
  color: var(--text-secondary);
}

.total {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  color: var(--icon-on-primary);
  font-weight: 600;
}
