.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  background: var(--bg-card);
  padding: var(--padding-xl);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-card);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.list > li + li {
  padding-top: var(--gap-l);
  border-top: 1px solid var(--border-divider);
}
